<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>titre </th>
                    <th>Description </th>
                    <th>Date Création</th>
                </tr>
                <tbody *ngFor="let article of articles">
                    <tr>
                        <td>{{article.idArt}}</td>
                        <td>{{article.titre}}</td>
                        <td>{{article.description}}</td>
                        <td>{{article.datePoste | date:'dd/MM/yyyy'}}</td>
                        <td><a class="btn btn-danger" (click)="supprimerArticle(article)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateArticle',article.idArt]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>